{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<div class="w3ls-inner-banner">
	<div class="container">
		<h2>Our Services</h2>
		<label></label>
		<div class="clearfix"></div>
	</div>
</div>

	
<div class="main-content">
	<!-- services -->
	<div class="agileits-blog-posts">
		<div class="container">
			<div class="blog col-md-12">
				<div class="single-inline">
					<ul>
						<li><a href="#">See your nearby medical store</a></li>
						<li><a href="#">Disposal of Medicine</a></li>
		
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"> </div>
</div>
{% endblock %}
