{% load staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>PATIENTSAKHI - Save Medicine Save Life</title>
<link href={% static "css/bootstrap.css" %} type="text/css" rel="stylesheet" media="all">
<link href={% static "css/style.css" %} rel="stylesheet" type="text/css" media="all" />
<link href={% static "css/styling.css" %} rel="stylesheet" type="text/css" media="all"/>
<link href={% static "css/font-awesome.min.css" %} rel="stylesheet" type="text/css" media="all" /> 
<link href={% static "css/carousel.css" %} type="text/css" rel="stylesheet" media="all">
<link href={% static "images/doctor.png" %} rel="icon"> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<!-- meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //meta tags -->
<!--fonts-->
<link href={% static "//fonts.googleapis.com/css?family=Roboto+Condensed" %} rel="stylesheet">
<link href={% static "//fonts.googleapis.com/css?family=Open+Sans" %} rel="stylesheet">
<!--//fonts-->	        
<script type="text/javascript" src={% static "js/jquery-2.1.4.min.js" %} ></script><!-- Required-js -->
<!-- requried-jsfiles-for owl -->
	<link href={% static "css/owl.carousel.css" %} rel="stylesheet" type="text/css" media="all" />
	<script src={% static "js/owl.carousel.js" %} ></script>
	<script>
		$(document).ready(function() {
			$("#owl-demo").owlCarousel({
				items : 4,
				lazyLoad : true,
				autoPlay : true,
				navigation : true,
				navigationText :  true,
				pagination : false,
			});
		});
	</script>
	<script src={% static "js/bootstrap.min.js" %} ></script>
	<script type="text/javascript" src={% static "js/numscroller-1.0.js" %} ></script>
</head>
<body>
	<!-- header -->
	<header>
		<div class="container">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				<div class="logo">
					<h1><a href="{% url 'home:home' %}">PATIENTSAKHI</a></h1>
				</div>	
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li><a href="{% url 'home:home' %}">Home</a></li>
					<li><a href="{% url 'home:about' %}">About</a></li>
					<li><a href="{% url 'home:services' %}">Services</a></li>
					<li><a href="{% url 'home:support_us' %}">Support Us</a></li>
					<li style="margin-top:9px;">{% if user.is_authenticated %}
						<a href="{% url 'account:profile' %}" style="display:inline;">My Profile</a>
						<a href="{% url 'logout' %}?next={% url 'home:home' %}" style="display:inline;">Logout</a></li>
						<li style="margin-top:9px;">{% else %}
						<a href="{% url 'login' %}?next={% url 'account:profile' %}" style="display:inline;"> Login</a>
						<a href="{% url 'account:sign-up' %}" style="display:inline;">SignUp</a>
					{% endif %}</li>
				  </ul>
				</div>
			  </div>
			</nav> 
			<script src="js/nav.js"></script>
		</div>
	</header>
	
	{% block content %}
	
	{% endblock %}
	<footer>	
		<!-- footer-top -->
		<div class="footer-top">
			<div class="container">
				<div class="col-md-6 footer-top-left">
					<h3><a href={% static "index.html" %} >PATIENTSAKHI</a></h3>
					<p>Our platform connects surplus medicines at homes,clinics,hospitals to patients in need in a convenient way</p>
					<ul class="fb_icons2">
						<li><a class="fb" href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></li>
						<li><a class="twit" href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
						<li><a class="goog" href="https://plus.google.com"><i class="fab fa-google-plus-square"></i></a></li>
						<li><a class="pin" href="https://www.pinterest.com"><i class="fab fa-pinterest"></i></a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-top-mid">
					<h3>Includes</h3>
					<ul>
						<li><a href="{% url 'home:home' %}"><i class="fas fa-arrow-right" aria-hidden="true"></i>Home</a></li>
						<li><a href="{% url 'home:about' %}"><i class="fas fa-arrow-right" aria-hidden="true"></i>About</a></li>
						<li><a href="{% url 'home:services' %}"><i class="fas fa-arrow-right" aria-hidden="true"></i>Services</a></li>
						<li><a href="{% url 'home:support_us' %}"><i class="fas fa-arrow-right" aria-hidden="true"></i>Support Us</a></li>
					</ul>

				</div>
				<div class="col-md-3 adress-agile">
					<h3>Address</h3>
					<address>
						<ul>
							<li>Modern Institute of</li>
							<li>Technology and Research Center</li>
							<li>Alwar,Rajasthan</li>
							<li>Telephone : 1800 2333 4555</li>
							<li>Email : <a class="mail" href="mailto:mail@patientsakhi.com">patientsakhi.com</a></li>
						</ul>
					</address>				
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</footer>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->			
</body>
</html>